/*.log
/status.json
/Indeling*.xlsx
/R*.arff
/R?-?NeuralData*
/Uitslag*.txt
/bin/
/python/
/.pydevproject
/*KNSB.csv
/*KEIpuntenS.txt
/*.lck
/R?-?*.txt
Inteken*docx
/app/
/Resultaten/
/~*
/R?-?/
/R?-?*/
/status*-uitslag.json
/status*-export.json
/R?-?Stand.json
/db/
/log/
/configuratie.json
/Archief/
/Bugs/
/IJC_UI Release 0.3/
/Oude JARs/
/configuratie_9-12-2016.json
/IJC_UI.cmd
/IJC_UI.jar
/status_4-2-2017.json
/status_9-12-2016.json
/.gitignore
